[versions]
intellij = "2023.2"
junixsocket = "2.9.1"

[libraries]
junixsocket-common = { module = "com.kohlschutter.junixsocket:junixsocket-common", version.ref = "junixsocket" }
junixsocket-native-common = { module = "com.kohlschutter.junixsocket:junixsocket-native-common", version.ref = "junixsocket" }
lsp4j = "org.eclipse.lsp4j:org.eclipse.lsp4j:0.23.0"
junit = "junit:junit:4.13.2"

[bundles]
junixsocket = ["junixsocket-common", "junixsocket-native-common"]

[plugins]
changelog = { id = "org.jetbrains.changelog", version = "2.2.0" }
download = { id = "de.undercouch.download", version = "5.6.0" }
gradleJvmWrapper = "me.filippov.gradle.jvm.wrapper:0.14.0"
grammarkit = { id = "org.jetbrains.grammarkit", version = "2022.3.2.2" }
intellij = { id = "org.jetbrains.intellij", version = "1.17.3" }
kotlin = { id = "org.jetbrains.kotlin.jvm", version = "1.9.24" }
