[versions]
intellij = "2023.2"
junixsocket = "2.10.0"

[libraries]
jetBrainsAnnotations = "org.jetbrains:annotations:24.0.1" # TODO: Get rid of this after updating IntelliJ
junit = "junit:junit:4.13.2"
junixsocket-common = { module = "com.kohlschutter.junixsocket:junixsocket-common", version.ref = "junixsocket" }
junixsocket-native-common = { module = "com.kohlschutter.junixsocket:junixsocket-native-common", version.ref = "junixsocket" }
lsp4j = "org.eclipse.lsp4j:org.eclipse.lsp4j:0.23.1"

[bundles]
junixsocket = ["junixsocket-common", "junixsocket-native-common"]

[plugins]
changelog = "org.jetbrains.changelog:2.2.1"
gradleJvmWrapper = "me.filippov.gradle.jvm.wrapper:0.14.0"
grammarkit = "org.jetbrains.grammarkit:2022.3.2.2"
intellijPlatform = "org.jetbrains.intellij.platform:2.0.1"
kotlin = { id = "org.jetbrains.kotlin.jvm", version = "2.0.0" }
