name: Main
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 0' # Every Sunday

jobs:
  main:
    runs-on: ${{ matrix.image }}
    timeout-minutes: 60
    strategy:
      matrix:
        image: [macos-15, ubuntu-24.04, windows-2025]
      fail-fast: false
    steps:
      - if: runner.os == 'Linux'
        name: Free disk space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: false
          large-packages: false

      - name: "Check out the sources"
        uses: actions/checkout@v5

      - name: Cache downloaded JDK
        uses: actions/cache@v4
        with:
          path: |
            ~/.local/share/gradle-jvm
            ~/AppData/Local/gradle-jvm
          key: ${{ runner.os }}-${{ hashFiles('gradlew*') }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Assemble
        run: ./gradlew assemble

      - name: Build
        timeout-minutes: 30
        run: ./gradlew build

      - name: 'Upload build reports'
        uses: actions/upload-artifact@v6
        with:
          name: ${{ runner.os }}.reports
          path: build/reports
        if: ${{ always() }}

      - name: 'Upload test logs'
        uses: actions/upload-artifact@v6
        with:
          name: ${{ runner.os }}.test-logs
          path: build/idea-sandbox/*/log-test
        if: ${{ always() }}
